@import 'styles/styleGuide.scss';

.header {
  position: relative;
  display: flex;
  align-items: center;
  width: $screenWidth;
  height: 50px;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  background-color: $grey250;
}

.label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.label__prev {
  display: flex;
    align-items: center;
  text-decoration: none;

  .icon__back {
    margin-right: 8px;
  }
}
