@import 'styles/styleGuide.scss';

.header {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  background-color: $grey250;
  box-shadow: $grey250 0 1px 4px 0px;
  text-decoration: none;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
}

.label {
  font-size: 18px;
  color: $grey800;
  font-weight: bold;
}

.icon__back {
  margin-right: 6px;
}
