@import 'styles/styleGuide.module';

.header {
  position: absolute;
  width: $screenWidth;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  background-color: transparentize($grey250, 0.08);
  box-shadow: $grey250 0 1px 4px 0px;
  text-decoration: none;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.label {
  font-size: 18px;
  color: $grey800;
  font-weight: bold;
}

.icon__back {
  margin-right: 6px;
}
