@import "styles/styleGuide.module";

.bubble {
  display: flex;
  flex-direction: column;
  align-items: start;
  outline: none;
  border: none;
  background-color: transparent;

  .text__wrap {
    background-color: $grey300;
    width: calc($screenWidth - 60px);
    padding: 8px;
    border-radius: 10px;
  }

  .text__translate {
    text-align: start;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
  }

  .text__reTranslate {
    text-align: start;
    font-size: 14px;
    color: $grey650;

  }

  .bubble__tail {
    position: relative;
    left: 10px;
    bottom: 2px;
    transform: scaleX(-1);
  }
}

.spacer {
  flex: 1;
}

.input__wrap {
  display: flex;
  align-items: center;
  width: $screenWidth;
  box-sizing: border-box;
  padding: 10px 8px 10px 8px;

  .input {
    height: 40px;
    padding: 0 10px 0 10px;
    border-radius: 20px;
    border: 2px solid $grey350;
    flex: 1;
  }

  .button {
    outline: none;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px 0 4px;
  }

  .button__record {
    border: 2px solid $grey350;

    .icon {
      transform: scale(0.7);
    }
  }

  .button__send {
    background-color: $green;

    &.disabled {
      background-color: $grey350;
    }

    .icon {
      transform: translate(-1px, 1px);
    }
  }
}
