.container {
  display: flex;
  width: min(100%, 480px);
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  margin: 0 20px 10px 20px;
  border-bottom: 1px solid #a2a2a2;
}

.label {
  width: 50px;
  margin-right: 40px;
}

.input {
  width: 100%;
  border: none;

  &:focus {
    outline: none;
  }
}
