@import 'styles/styleGuide.scss';

.container {
  display: flex;
  align-items: center;
  width: $screenWidth;
  padding: 10px 20px 10px 20px;
  margin-top: 18px;
  border-bottom: 1px solid $grey350;
  box-sizing: border-box;
}

.label {
  width: 50px;
  font-size: 18px;
  margin-right: 40px;
  font-weight: bold;
}

.input {
  width: 100%;
  font-size: 18px;
  border: none;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $grey350;
  }
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;

  div {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: $grey100;
    background-color: $grey350;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
}
