@import 'styles/styleGuide.scss';

.container {
  display: flex;
  width: $screenWidth;
  padding: 10px 20px 10px 20px;
  margin-top: 18px;
  border-bottom: 1px solid $grey350;
  box-sizing: border-box;
}

.label {
  width: 50px;
  font-size: 18px;
  margin-right: 40px;
  font-weight: bold;
}

.input {
  width: 100%;
  font-size: 18px;
  border: none;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $grey350;
  }
}
