@import "styles/styleGuide.module";

.container {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: $screenWidth;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  margin-top:  10px;
  border-bottom: 1px solid $grey350;
}

.label {
  width: 50px;
  margin-right: 40px;
  font-size: 18px;
  font-weight: bold;
}

.input {
  appearance: none;
  position: relative;
  border-radius: 30px;
  background-color: $grey350;
  width: 50px;
  height: 30px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $grey100;
    transition: left 250ms ease-in-out;
  }

  &:checked {
    background-color: $green;

    &::before {
      background-color: white;
      left: 22px;
    }

  }
}
