@import "styles/styleGuide.module";

.text__wrap {

}

.text {
  font-size: 18px;
}

.text__translate {
  font-size: 18px;
  font-weight: bold;
}

.text__reTranslate {
  font-size: 16px;
  color: $grey600;
}
