@import 'styles/styleGuide.scss';

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.spacer {
  flex: 1;
}

.link__start {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $screenWidth;
  text-decoration: none;
  height: 50px;
  background-color: antiquewhite;
}
