@import "styles/styleGuide.module";

.alternative__wrap {
  display: flex;
  align-items: start;
  margin: 10px 0 10px 0;
}

.alternative {
  position: revert;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0 10px 0 10px;
}

.bubble {
  width: calc(($screenWidth - 100px) / 2);
  border-radius: 10px;
  background-color: $grey300;
  box-shadow: $grey250 0 3px 6px 0;
  padding: 8px;
}

.text__translate {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
  text-align: start;
}

.text__reTranslate {
  font-size: 14px;
  color: $grey650;
  text-align: start;
}

.bubble__tail {
  position: relative;
  bottom: 2px;

  &.bubble__tail__right {
    float: right;
  }

  &.bubble__tail__left {
    float: left;
    transform: scaleX(-1);
  }
}
